*.pyc
*.pyo
__pycache__/

*.db

.vscode/
.idea/

.env

.DS_Store

Thumbs.db

*.log

venv/
env/

*.sqlite3

coverage.xml
.coverage

.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage.*

__pycache__/
*$py.class
*.py,cover
*.cover
nosetests.xml

build/
*.so